/* --- Global Styles --- */
* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 13px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: rgba(47, 50, 58, 0.5);   /* Gris azulado con transparencia */
  color: #e4e6eb;
  margin: 0px;
  font-weight: 500;
}

/* --- Left Modules (Individual, Fully Rounded Blocks - With Horizontal Spacing & Simple Hover) --- */
#custom-uptime,
#cpu,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#custom-lock,
#battery,
#tray,
#memory,
#custom-power,
#clock{
  background-color: rgba(47, 50, 58, 0.75);   /* Transparencia aplicada */
  color: #e4e6eb;
  padding: 0.3rem 0.9rem;
  margin: 5px 0px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* --- Workspaces --- */
#workspaces button {
    background-color: rgba(47, 50, 58, 0.75); 
    color: #e4e6eb;
    padding: 0.3rem 0.9rem;
    margin: 5px 0px 10px 10px;
    border-radius: 35px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* --- Workspace Activo (sutil resaltado) --- */
#workspaces button.active {
    background-color: rgba(107, 114, 128, 0.85);
    color: #ffffff;
}

/* --- Hover Global --- */
#custom-uptime:hover,
#cpu:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#battery:hover,
#tray:hover,
#memory:hover,
#custom-power:hover,
#clock:hover,
#workspaces button:hover {
    background-color: rgba(107, 114, 128, 0.85);
    color: #ffffff;
}

/* --- Window module --- */
#window{
	margin-right: 150px;
	color: #cfd3da;
}
